* {
    margin: 0;
    padding: 0;
}

.theme-light {
    --black: #000000;
    --white: #fff;
    --gray: #8B8B8B;
    --background: #333333;
    --background-light: #808080;
    --background-dark: #171615;
    --green: #3B8526;
    background-color: var(--background);
}

.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

p {
    color: var(--black);
    font-family: "Proxima Nova", "Helvetica Neue";
    font-weight: 500;
}


/*HEADBAR*/

#headbar {
    width: 100%;
    height: 9vh;
    background-color: var(--background-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid var(--green);
}


/*(header) icon container*/

#headbar .icon-container {
    height: 100%;
    width: 25%;
    /*background-color: orange;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#headbar .icon-container #headbar-popup-button {
    width: 2vw;
    height: 2vw;
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
}

#headbar .icon-container #headbar-popup-button[data-open="false"] span {
    transform: rotateZ(90deg);
}

#headbar .icon-container #headbar-popup-button span {
    display: block;
    width: 50%;
    height: 40%;
    background-size: cover;
    transition: all 0.3s cubic-bezier(.86, 0, .07, 1);
}

#headbar .icon-container #headbar-popup-button:hover span {
    transform: rotateZ(60deg);
}

#headbar .icon-container .logo {
    height: 100%;
    width: 80%;
    /*background-color: aqua;*/
    background-size: 18vw;
}


/*(header) account container*/

#headbar .account-container {
    height: 100%;
    width: 23%;
    /*background-color: orange;*/
    display: flex;
}


/*(header) account container [not logged case]*/

#headbar .account-container[data-logged="false"] .not-logged,
#headbar .account-container[data-logged="true"] .logged {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#headbar .account-container[data-logged="false"] .not-logged {
    display: flex;
}

#headbar .account-container[data-logged="false"] .logged {
    display: none;
}

#headbar .account-container[data-logged="false"] .not-logged .login-button {
    width: 55%;
    height: 60%;
    /*background-color: aqua;*/
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--green);
    border-radius: 3px;
    margin-left: 7vw;
}

#headbar .account-container[data-logged="false"] .not-logged .login-button p {
    color: var(--white);
    font-weight: 700;
    font-size: 1.7vw;
    user-select: none;
}


/*(header) account container [logged case]*/

#headbar .account-container[data-logged="true"] .not-logged {
    display: none;
}

#headbar .account-container[data-logged="true"] .logged {
    display: flex;
    justify-content: space-around;
}


/*(header) notification container*/

#headbar .notification-container {
    height: 100%;
    width: 15%;
    /*background-color: violet;*/
    transition: all 0.1s;
    cursor: pointer;
    z-index: 4;
}

#headbar .notification-container:hover {
    background-color: var(--background)
}

#headbar .notification-container span {
    display: block;
    height: 100%;
    width: 100%;
}

#headbar .notification-container:hover span {
    animation: shaking 0.7s 1 linear;
}

#headbar .notification-container[data-open="false"] .notification-content {
    display: none;
}

#headbar .notification-container[data-open="true"] .notification-content {
    display: block;
    width: 13vw;
    height: 40vh;
    position: relative;
    top: 0;
    left: -4.5vw;
    background-color: var(--background-dark);
    border-radius: 0 0 10px 10px;
    z-index: 2;
    animation: FadeInTop 0.5s;
    cursor: auto;
}

@keyframes FadeInTop {
    0% {
        height: 0;
    }
}

@keyframes shaking {
    0% {
        transform: rotateZ(0deg)
    }
    25% {
        transform: rotateZ(-15deg)
    }
    50% {
        transform: rotateZ(0deg)
    }
    75% {
        transform: rotateZ(15deg)
    }
    100% {
        transform: rotateZ(0deg)
    }
}

#headbar .account-container .user-container {
    height: 100%;
    width: 80%;
    /*background-color: green;*/
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    cursor: pointer;
}

#headbar .account-container .user-container:hover {
    background-color: var(--background)
}

#headbar .account-container .user-container .user-infos {
    height: 90%;
    width: 80%;
    /*background-color: yellow;*/
    display: flex;
    align-items: center;
    justify-content: start;
}

#headbar .account-container .user-container .user-infos .head {
    height: 3vw;
    width: 3vw;
    margin-left: 5%;
    border-radius: 10px;
    /*background-image: url('../images/vitrine/elytra.png');*/
}

#headbar .account-container .user-container .user-infos .infos {
    height: 60%;
    width: 80%;
    /*background-color: goldenrod;*/
    margin-left: 1%;
}

#headbar .account-container .user-container .user-infos .infos #username {
    color: var(--white);
    width: 100%;
    font-size: 1.7vw;
    font-weight: 600;
}

#headbar .account-container .user-container .user-infos .infos #userclass {
    color: var(--gray);
    width: 100%;
    font-size: 1vw;
    font-weight: 600;
}

#headbar .account-container .user-container .arrow::before {
    font: var(--fa-font-solid);
    content: "\f0dd";
    color: var(--white);
    display: block;
    width: fit-content;
    height: fit-content;
    transform: translateY(-7px);
    font-size: 1.5vw;
}

#headbar .account-container .user-container .arrow {
    height: 90%;
    width: 15%;
    /*background-color: orange;*/
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#headbar .account-container .user-container:hover .arrow,
#headbar .account-container .user-container[data-open="true"] .arrow {
    transform: translateY(5px);
}

#headbar .account-container .user-container[data-open="false"] .drop-action-container {
    display: none;
}

#headbar .account-container .user-container[data-open="true"] .drop-action-container {
    position: absolute;
    top: 82px;
    right: 0vw;
    width: 18.7vw;
    height: 40vh;
    border-radius: 0 0 10px 10px;
    animation: FadeInTop 0.5s;
    background-color: var(--background-dark);
    cursor: auto;
    z-index: 2;
}


/*-------------------------------*/


/*SIDEMENU*/

#Sidemenu {
    width: 4vw;
    background-color: var(--background-dark);
    height: 90.5vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: width 0.5s;
    overflow-x: hidden;
}

#Sidemenu[data-open="true"] {
    width: 14vw;
}

#Sidemenu .menu {
    width: 100%;
    height: 80%;
    /*background-color: palegoldenrod;*/
}

#Sidemenu[data-open="true"] .menu {
    align-items: start;
}

#Sidemenu .menu .button {
    width: 4vw;
    height: 4vw;
    /*background-color: orange;*/
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Sidemenu[data-open="true"] .menu .button {
    width: 4vw;
}

#Sidemenu .menu .button.selected {
    background-color: var(--green)
}

#Sidemenu .menu .button.selected:hover {
    background-color: var(--green)
}

#Sidemenu .menu .button:hover {
    background-color: var(--background-light);
}

#Sidemenu .menu .button svg {
    display: block;
    width: 45%;
    height: 45%;
    transition: all 0.2s;
    color: var(--white);
}

#Sidemenu .menu .button:hover svg,
#Sidemenu .menu .button.selected svg {
    width: 50%;
    height: 50%;
}

#Sidemenu[data-open="false"] .menu .button .texte {
    display: none;
}

#Sidemenu[data-open="true"] .menu .button .texte {
    display: block;
    position: absolute;
    left: 4vw;
    width: 10vw;
    height: 7.2vh;
    /*background-color: darkslategrey;*/
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

#Sidemenu[data-open="true"] .menu .button:hover .texte {
    background-color: var(--background-light);
}

#Sidemenu .menu .button.selected .texte,
#Sidemenu .menu .button.selected:hover .texte {
    background-color: var(--green);
}

#Sidemenu[data-open="true"] .menu .button .texte p {
    color: var(--white);
    font-size: 1.2vw;
    transition: all 0.3s;
}

#Sidemenu[data-open="false"] .menu .button .texte p {
    color: transparent;
    font-size: 0;
    transition: all 0.3s;
}


/*-------------------------------*/


/*MAIN CONTAINER*/

#Container {
    margin-left: 4vw;
    width: 98vw;
    background-color: var(--background);
    height: 90.5vh;
    background-image: url(../images/backgrounds/sildur-vibrant.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}


/*Content*/

#Container #Content {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    width: 98vw;
    transition: all 0.5s;
}

#Container[data--Sidebaropen="true"] #Content {
    width: 80vw;
    transition: all 0.5s;
}


/*Sidebar*/

#Container[data--Sidebaropen="true"] #Sidebar {
    height: 100%;
    background-color: palegreen;
    width: 20vw;
    transition: all 0.5s;
}

#Container[data--Sidebaropen="false"] #Sidebar {
    height: 100%;
    width: 0vw;
}

#Container #Sidebar #SidebarcloseButton {
    height: 4vw;
    background-color: var(--background);
    width: 2vw;
    position: absolute;
    top: 48%;
    right: 0;
    border-radius: 10px 0 0 10px;
    transition: all 0.5s;
}

#Container[data--Sidebaropen="true"] #Sidebar #SidebarcloseButton {
    right: 19.6vw;
}
