@import 'base.css';

/* Navbar */
.barreDeNavigation{
    z-index: 999;
    -webkit-box-shadow: 0 0 20px rgb(0 0 0 / 30%);
    box-shadow: 0 0 20px rgb(0 0 0 / 30%);
}
.barreDeNavigation .superieure{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav-link{
    padding: .5rem .75rem ;
    color: white;
    line-height: 1;
    text-transform: uppercase;
    font-size: .8rem;
}
.nav-link:hover {
    color: white!important;
}
.barreDeNavigation .inferieure{
    width: 100%;
    height: 83px;
    background-size: auto 442px;
    -webkit-box-shadow: 0 10px 0 0 rgb(0 0 0 / 25%);
    box-shadow: 0 5px 0 0 rgb(0 0 0 / 25%);
}
.barreDeNavigation .inferieure .siteName{
    font-family: "Zaptron-Regular";
    color: white !important;
    font-size: 2rem;
    text-align: left;
    display: flex;
    align-items: center;
}
a.siteName:hover {
    text-decoration: none;
    color: white;
}
.menuList{
    display: table;
    margin-top: 1rem;
}
.barreDeNavigation .inferieure .menuList li{
    text-align: center;
    display: table-cell;
}
.barreDeNavigation .inferieure .menuList>li>a .nav-icon {
    display: inline-block;
    font-size: 12px;
    line-height: inherit;
    margin-right: 4px;
    width: 69px;
}
.barreDeNavigation .inferieure .menuList>li>a .nav-icon img{
    margin-top: -5px;
    margin-right: -12px;
    width: 75%;
    margin-left: -1px;
    animation-play-state: paused;
}
/* Fin navbar */

/* Intro vitrine */
#intro{
    width: 100%;
    height: 95vh;
    top: 0;
    background-color: black;
}
#vitrine-background-image{
    display: none;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
.intro-vitrine{
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 60vh;
    color: white!important;
}
.intro-vitrine .presentation{
    display: flex;
    width: 100%;
}
.intro-vitrine .presentation > *{
    display: none;
}
.intro-vitrine .presentation .illustration{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.intro-vitrine .presentation .description{
    /* width: 90%;
     display: flex; */
    flex-direction: column;
    justify-content: center;
}
.intro-vitrine h1, h2{
    font-family: "Proxima Nova Bold"!important;
}

/* Fin intro vitrine */

/* Shops */
.shopsFilters select{
    height: 15rem!important;
}
.card-top{
    height: 7rem;
    display: flex;
    justify-content: center;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
.enchant {
    text-align: center;
    background: linear-gradient(to right, #000 20%, #bd34eb 40%, #bd34eb 60%, #000 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 1s linear infinite;
    animation: shine 1s linear infinite;
}
@-webkit-keyframes shine {
    to {
        background-position: 200% center;
    }
}
@keyframes shine {
    to {
        background-position: 200% center;
    }
}