@import 'base.css';

/* Navbar */
.barreDeNavigation{
    z-index: 999;
}
.barreDeNavigation .superieure{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav-link{
    padding: .5rem .75rem ;
    color: white;
    line-height: 1;
    text-transform: uppercase;
    font-size: .8rem;
}
.barreDeNavigation .inferieure{
    width: 100%;
    height: 83px;
    -webkit-box-shadow: 0 0 20px rgb(0 0 0 / 30%);
    box-shadow: 0 0 20px rgb(0 0 0 / 30%);
    background-size: auto 442px;
}
.barreDeNavigation .inferieure .siteName{
    font-family: "Zaptron-Regular";
    color: white !important;
    font-size: 2rem;
    text-align: left;
    display: flex;
    align-items: center;
}
a.siteName:hover {
    text-decoration: none;
}
.menuList{
    display: table;
}
.barreDeNavigation .inferieure .menuList>li>a .nav-icon {
    display: inline-block;
    font-size: 12px;
    line-height: inherit;
    margin-right: 4px;
    width: 69px;
}
.barreDeNavigation .inferieure .menuList>li>a .nav-icon img{
    margin-top: -5px;
    margin-right: -12px;
    width: 75%;
    margin-left: -1px;
}